/********************************************************

    Magic Mirror project by Akshay Kore

    website: www.akor.in
    blog: https://medium.com/@akshaykore
    twitter: https://twitter.com/akshaykore
    facebook: https://www.facebook.com/akshaykore
    email: akshaykore[at]gmail.com
    
    Use this to edit the UI Visual design 

*********************************************************/

body{
    background-color: black;
    color: white;
    padding: 3%;
}


#generalinfo{
    position: fixed;
    font-family: 'Comfortaa';
    text-align: right;
    width: 94%;   
}

#time{
    font-size: 2em;
    padding-bottom: 5px;
    font-weight: 700;
    letter-spacing: 3px;
}

#date{
    font-size: 1.3em;
    padding-bottom: 10px;
    font-weight: 100;
    word-spacing: 5px;
}

#weather{
    font-size: 0.8em;
    //padding-right: 3%;
    font-weight: 700;
    word-spacing: 2px;
    position: fixed;
    width: 94%;
    right: 3%;
    bottom: 3%
}


/*answers - wiki*/

#wiki{
    position: fixed;
    top: 37%;
    text-align: left;
    width: 94%; 
    
}

#wikititle{
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 2em;
    padding-bottom: 10px;
    padding-left: 15%;
    padding-right: 15%;
}

#wikianswer{
    font-family: 'Source-serif';
    font-weight: 100;
    font-size: 1.2em;
    padding-bottom: 10px;
    padding-left: 15%;
    padding-right: 15%;
}

#wikisource{
    font-family: 'Source-serif';
    font-weight: 100;
    font-size: 0.8em;
    padding-left: 15%;
    padding-right: 15%;
    opacity: 0.6; 
}



/*answers - mirror- short answers wolfram*/

#mirror{
    position: fixed;
    top: 40%;
    width: 94%;
}

#mirrorquestion{
    font-family: 'Comfortaa';
    font-weight: 100;
    text-align: left;
    font-size: 0.8em;
    padding-bottom: 30px;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 1.3em;
    
}

#mirroranswer{
    font-family: 'Comfortaa';
    font-weight: 700;
    text-align: left;
    font-size: 1.5em;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 1.3em;
}


/*greeting: says "hey sexy!"*/

#greeting{
    position: fixed;
    top: 45%;
    width: 94%;
    font-family: 'Comfortaa';
    font-weight: 100;
    text-align: center;
    font-size: 4em;
}

/*footer*/

#footerinfo{
    position: fixed;
    bottom: 2.6%;
    width: 94%;
    font-family: 'Comfortaa';
    font-weight: 100;
    font-size: 0.8em;
}



